<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleSwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82EF94531E2EFB7E00D6CA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EF94671E2EFB7E00D6CA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EF94721E2EFB7E00D6CA1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
